{% include 'base.html'%}
{% include 'navigationpage.html'%}
<style>
  .mydivstyle:hover{
      box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
      transform: translateY(-20px);
  }
</style>

{% block content %}
<div class="container" style = "margin-top:50px;">
    <h1 Class = 'text-center'>Contact Us</h1>
  <div class="row mt-5 text-center">
    <div class="col-lg-3  col-sm-6 mydivstyle">
      <h4><i class="fas fa-phone-square"> Contact</i></h4>
      <p class="text-danger font-weight-bold mt-3"  ><a href = 'tel:+919676543833'>+919676543833</a></p>
    </div>
    <div class="col-lg-3 col-sm-6  mydivstyle" >
      <h4><i class="fa fa-envelope"></i> Send-email</h4>
      <p class="font-weight-bold mt-3"> <a href = "mail to:saikrishna5112004@gmail.com">saikrishna5112004@gmail.com</a></p>
    </div>
    <div class="col-lg-3  col-sm-6  mydivstyle">
      <h4><i class="fa fa-address-card" aria-hidden="true"></i> Office Address</h4>
       <p class="font-weight-bold mt-3"> <a href = https://www.google.com/maps/dir//Apollo+Hospital+Chennai,+Greams+Lane,+21,+Greams+Rd,+Thousand+Lights,+Chennai,+Tamil+Nadu+600006/@13.0220099,80.1381627,12z/data=!4m11!1m2!2m1!1sapollo+hospital+main+branch+chennai+location+latitude+and+longitude!4m7!1m0!1m5!1m1!1s0x3a52666accdfbb59:0x2e0d1b10a5e06d2f!2m2!1d80.2515375!2d13.0631824?entry=ttu>Apollo Hospitals</a></p>
    </div>
    <div class="col-lg-3  col-sm-6 mydivstyle ">
      <h4><i class="fa fa-address-card" aria-hidden="true"></i> Office Time</h4>
       <p class="font-weight-bold mt-3">10Am to 5 Pm</p>
    </div>
  </div>
</div>
{% endblock %}
{% include 'footer.html'%}